.background{
    background-image: url(./home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%; 
    padding-top: 130px;
    position: relative;
    /* margin-right: -90px; */
}

.gif{
    width: 800px;
    height: 500px;
    display: flex;
    margin-left: 33%;
    margin-top: 15%;
}

.gif img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    width: 50%;
    height: 50%;
    border-radius: 15px;
}